
.footer {
    height: 630px;
    position: relative;
    // .footer__info

    &__info {
        position: absolute;
        top:0;
        left: 50%;
        transform: translateX(-50%);
        height: 270px;
        background-color: #c70101;
        padding: 50px 68px 68px 68px;
    }

    // .footer__addr

    &__addr {
        margin-bottom: 26px;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }

    // .footer__phone

    &__phone {
        display: block;
        margin-bottom: 28px;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }

    // .footer__social

    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 27px;
    }

    // .footer__social-item

    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 2px solid #fff;
        border-radius: 100%;

        img {
            height: 27px;
        }
    }
}
