@import url(https://fonts.googleapis.com/css?family=Manrope:300,regular,700,800);




html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Manrope', sans-serif;
	font-size: 16px;
	line-height: 1;
	letter-spacing: 0.3px;
	color: #000;
}

a:focus, button:focus {
	outline-offset: 1px;
	outline: #005fcc auto 1px;
}

.container {
	max-width: 950px;
	margin: 0 auto;

	@include tablet {
        width: 768px;
    }

    @include mobile {
        width: 360px;
    }
}

.none {
	display: none;
}
